In [11]:
import pandas as pd
import csv

AvgSP = pd.read_csv("AvgSP.csv",index_col=0)
LocalCC = pd.read_csv("LocalCC.csv", index_col=0)
Feature_34 = pd.read_csv("Feature34.csv", index_col=0)
Feature_5 = pd.read_csv("Feature5.csv", index_col=0)
Feature_68 = pd.read_csv("Feature68.csv", index_col=0)
ConnectivitySignificance = pd.read_csv("ConnectivitySignificance.csv", index_col=0)
ArticulationPoints = pd.read_csv("ArticulationPoints.csv", index_col=0)
Modularity = pd.read_csv("Modularity.csv", index_col=0)

In [13]:
Modularity.head()

              Modularity
Gene_ID
0.00347              NaN
3195.00000     -0.000092
10194.00000     0.001048
285596.00000    0.002502
3131.00000      0.003327

In [2]:
ArticulationPoints.head()

         isArticulationPoint
Gene_ID
17584                      1
150921                     1
1880                       1
255167                     1
92181                      1

In [3]:
ConnectivitySignificance.head()

                ConnectivitySignificance
Gene_ID
96067421039976                       NaN
10194                           0.885438
285596                          0.885438
3131                            0.105540
348                             0.392073

In [4]:
Feature_68.head()

             EigenvectoreCentrality  PageRank
Gene_ID
0.45485                         NaN       NaN
636.00000                  0.000378  0.000048
55197.00000                0.000052  0.000017
6731.00000                 0.000046  0.000031
5358.00000                 0.000954  0.000050

In [5]:
Feature_5.head()

         BetweennessCentrality
Gene_ID
358               0.000000e+00
10973             3.663343e-05
127281            3.798337e-08
51267             4.862428e-07
653226            2.381462e-06

In [6]:
Feature_34.head()

           DegreeCentrality  ClosenessCentrality  C1  C2  C3
Gene_ID
NaN                0.001501             0.318730 NaN NaN NaN
 129080.0          0.001801             0.328470 NaN NaN NaN
 7080.0            0.000600             0.272846 NaN NaN NaN
 79368.0           0.000075             0.253755 NaN NaN NaN
 10844.0           0.000675             0.291405 NaN NaN NaN

In [7]:
LocalCC.head()

         Local Clustering Coefficient
Gene_ID
2534                         0.005285
7038                         0.000000
6996                         0.002849
2885                         0.002725
8648                         0.005472

In [8]:
AvgSP.head()

         Average Shortest Path to all Disease genes
Gene_ID
9080                                       5.134250
7080                                       3.904388
79368                                      4.904388
10844                                      4.352980
5270                                       4.738048

In [12]:
print(len(AvgSP))
print(len(LocalCC))
print(len(Feature_34))
print(len(Feature_5))
print(len(Feature_68))
print(len(ConnectivitySignificance))
print(len(ArticulationPoints))

13327
1526
13328
12579
12986
13328
13325

In [14]:
ConnectivitySignificance1 = pd.read_csv("ConnectivitySignificance(1).csv", index_col=0, names = ['Gene_ID','ConnectivitySignificance'])

In [15]:
ConnectivitySignificance1.head()

         ConnectivitySignificance
Gene_ID
54504                    0.614620
3195                     0.296067
10194                    0.885438
285596                   0.885438
3131                     0.105540